bticino_cmd.json
[{"id":"1e38fbd5.a1d764","type":"tab","label":"bticino_cmd","disabled":false,"info":""},{"id":"2db6a92e.d3de26","type":"function","z":"1e38fbd5.a1d764","name":"cmd","func":"msg.payload=\"*99*0##\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":220,"wires":[["4f26a6fe.938648"]]},{"id":"5b5da29f.ab007c","type":"function","z":"1e38fbd5.a1d764","name":"calcola psw","func":"\tvar flag = true;\n\tvar num1 = 0x0;\n\tvar num2 = 0x0;\n\tvar password = parseInt(\"xxxxxx\", 10);\n\tfor (var c in msg.payload) {\n\t\tc = msg.payload[c];\n\n\t\tif (c!='0') {\n\t\t\tif (flag) num2 = password;\n\t\t\tflag = false;\n\t\t}\n\t\tswitch (c) {\n\t\t\tcase '1':\n\t\t\t\tnum1 = num2 & 0xFFFFFF80;\n\t\t\t\tnum1 = num1 >>> 7;\n\t\t\t\tnum2 = num2 << 25;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '2':\n\t\t\t\tnum1 = num2 & 0xFFFFFFF0;\n\t\t\t\tnum1 = num1 >>> 4;\n\t\t\t\tnum2 = num2 << 28;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '3':\n\t\t\t\tnum1 = num2 & 0xFFFFFFF8;\n\t\t\t\tnum1 = num1 >>> 3;\n\t\t\t\tnum2 = num2 << 29;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '4':\n\t\t\t\tnum1 = num2 << 1;\n\t\t\t\tnum2 = num2 >>> 31;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '5':\n\t\t\t\tnum1 = num2 << 5;\n\t\t\t\tnum2 = num2 >>> 27;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '6':\n\t\t\t\tnum1 = num2 << 12;\n\t\t\t\tnum2 = num2 >>> 20;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '7':\n\t\t\t\tnum1 = num2 & 0x0000FF00;\n\t\t\t\tnum1 = num1 + (( num2 & 0x000000FF ) << 24 );\n\t\t\t\tnum1 = num1 + (( num2 & 0x00FF0000 ) >>> 16 );\n\t\t\t\tnum2 = ( num2 & 0xFF000000 ) >>> 8;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '8':\n\t\t\t\tnum1 = num2 & 0x0000FFFF;\n\t\t\t\tnum1 = num1 << 16;\n\t\t\t\tnum1 = num1 + ( num2 >>> 24 );\n\t\t\t\tnum2 = num2 & 0x00FF0000;\n\t\t\t\tnum2 = num2 >>> 8;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '9':\n\t\t\t\tnum1 = ~num2;\n\t\t\t\tbreak;\n\t\t\tcase '0':\n\t\t\t\tnum1 = num2;\n\t\t\t\tbreak;\n\t\t}\n\t\tnum2 = num1;\n\t}\n\tmsg.payload = (num1 >>> 0);\n\tmsg.payload = \"*#\"+msg.payload+\"##\";\n\nreturn msg\n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["4f26a6fe.938648"]]},{"id":"8526b1d6.5ccf08","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":120,"wires":[]},{"id":"4f26a6fe.938648","type":"tcp out","z":"1e38fbd5.a1d764","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":870,"y":460,"wires":[]},{"id":"df91bb51.17f698","type":"tcp in","z":"1e38fbd5.a1d764","name":"","server":"client","host":"xxx.xxx.xxx.xxx","port":"20000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":190,"y":120,"wires":[["8526b1d6.5ccf08","10c990f6.98238f"]]},{"id":"10c990f6.98238f","type":"function","z":"1e38fbd5.a1d764","name":"","func":"connection=flow.get('connection');\n//se non sono connesso avvio la fase di connessione e verifica psw\nif (flow.get('connection') == '0' && msg.payload == \"*#*1##\"){\n    return [msg,null,null,null];\n}\n\n//il gateway sta richiedendo la psw\nelse if (flow.get('connection') == '0' && msg.payload.length != 6){\n    msg.payload = msg.payload.slice(2,11);\n    flow.set('connection','1');\n    return [null,msg,null,null];\n}\n\n//il gateway ha risposto che la psw è corretta, sono connesso\nelse if (flow.get('connection') == '1' && msg.payload == \"*#*1##\"){\n    flow.set('connection','2');\n    return [null,null,msg,null];\n}\n\n//normale comunicazione con il gaeway\nelse if (flow.get('connection') == '2'){\n    return [null,null,msg,null];\n}\n// se ricevo un segnale di NACK non faccio nulla\nelse if (msg.payload == \"*#*0##\"){\n    return [null,null,null,null];\n}\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["2db6a92e.d3de26","fb4f69b9.a55338"],["5b5da29f.ab007c","3ee0a87f.986ae"],[],[]]},{"id":"6f70bb51.920234","type":"trigger-state","z":"1e38fbd5.a1d764","name":"","server":"56f876d9.a2c7d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.updatebticino","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":720,"wires":[["d854dd16.702a3"],[]]},{"id":"d854dd16.702a3","type":"function","z":"1e38fbd5.a1d764","name":"update T","func":"//update state light\nmsg.payload = \"*#1*0##\";\nnode.send (msg);\n//ypdate T sensor\nmsg.payload = \"*#4*xx*0##\";\nnode.send (msg);\nmsg.payload = \"*#4*xx*14##\";\nnode.send (msg);\nmsg.payload = \"*#4*xx*19##\";\nnode.send (msg);\nmsg.payload = \"*#4*xx*13##\";\nnode.send (msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":740,"wires":[["4f26a6fe.938648","e77b5cd2.8e8e38"]]},{"id":"9648aef.1149ed","type":"inject","z":"1e38fbd5.a1d764","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["7d62f3b0.0a3efc"]]},{"id":"7d62f3b0.0a3efc","type":"function","z":"1e38fbd5.a1d764","name":"Set variable on start","func":"flow.set('connection','0');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[[]]},{"id":"fb4f69b9.a55338","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"3ee0a87f.986ae","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":340,"wires":[]},{"id":"7a37034c.fe4da4","type":"inject","z":"1e38fbd5.a1d764","name":"","props":[{"p":"payload","v":"*#1*##","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"*#1*##","payloadType":"str","x":580,"y":420,"wires":[["4f26a6fe.938648"]]},{"id":"f8549ecf.796d28","type":"comment","z":"1e38fbd5.a1d764","name":"Watchdog","info":"","x":420,"y":420,"wires":[]},{"id":"e77b5cd2.8e8e38","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":680,"wires":[]},{"id":"61b8a892.e181a","type":"mqtt in","z":"1e38fbd5.a1d764","name":"","topic":"lights/cmd","qos":"2","datatype":"auto","broker":"93cf9cd8.a41b28","x":140,"y":560,"wires":[["7263002.05acf8","44a7d026.f8751"]]},{"id":"9fc94324.b14058","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":580,"wires":[]},{"id":"7263002.05acf8","type":"json","z":"1e38fbd5.a1d764","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["f91f3172.ea9868"]]},{"id":"f91f3172.ea9868","type":"function","z":"1e38fbd5.a1d764","name":"send_message_to_gateway","func":"//msg.payload = \"*1*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"##\";\n//return msg;\nif (msg.payload.buslevel != 0) {\n\tmsg.payload = \"*1*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"#4#\" + msg.payload.buslevel + \"##\";\n\treturn msg;\n}\nelse if (msg.payload.buslevel == 0) {\n\tmsg.payload = \"*1*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"##\";\n\treturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":500,"wires":[["9fc94324.b14058","4f26a6fe.938648"]]},{"id":"a729df12.88b2e8","type":"mqtt in","z":"1e38fbd5.a1d764","name":"","topic":"switch/cmd","qos":"2","datatype":"auto","broker":"93cf9cd8.a41b28","x":150,"y":420,"wires":[["7263002.05acf8"]]},{"id":"44a7d026.f8751","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":600,"wires":[]},{"id":"25475c83.c627cc","type":"inject","z":"1e38fbd5.a1d764","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":800,"wires":[["d854dd16.702a3"]]},{"id":"d5d2d2e0.4db1","type":"mqtt in","z":"1e38fbd5.a1d764","name":"","topic":"shutter/cmd","qos":"2","datatype":"auto","broker":"93cf9cd8.a41b28","x":110,"y":920,"wires":[["33c4dd60.f1beb2","6cb149ed.27467"]]},{"id":"33c4dd60.f1beb2","type":"debug","z":"1e38fbd5.a1d764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":980,"wires":[]},{"id":"ee0af8c3.ef07e8","type":"function","z":"1e38fbd5.a1d764","name":"send_message_to_gateway","func":"//msg.payload = \"*2*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"##\";\n//return msg;\nif (msg.payload.buslevel != 0) {\n\tmsg.payload = \"*2*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"#4#\" + msg.payload.buslevel + \"##\";\n\treturn msg;\n}\nelse if (msg.payload.buslevel == 0) {\n\tmsg.payload = \"*2*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"##\";\n\treturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":880,"wires":[["1b6f11ca.291c6e","4f26a6fe.938648"]]},{"id":"6cb149ed.27467","type":"json","z":"1e38fbd5.a1d764","name":"","property":"payload","action":"","pretty":false,"x":370,"y":880,"wires":[["ee0af8c3.ef07e8"]]},{"id":"1b6f11ca.291c6e","type":"debug","z":"1e38fbd5.a1d764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":980,"wires":[]},{"id":"56f876d9.a2c7d","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"93cf9cd8.a41b28","type":"mqtt-broker","name":"HomeAssistant","broker":"webadres_homeassistant","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]